.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  overflow: hidden;
}

.BackgroundImage .Image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
