.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  transition: opacity 0.5s ease;
  overflow: hidden;
}

.BackgroundImage-lazy {
  filter: blur(5px);
}

.BackgroundImage-lazy-loaded {
  filter: blur(0);
}
