.EnquiryForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 500px;
  margin: 2.5rem 0;
}

.EnquiryForm > * + * {
  margin-top: 1.5rem;
}

.EnquiryForm--Label {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.EnquiryForm--Input {
  font-family: inherit;
  font-weight: 400;
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
  margin: 0;
  border: none;
  border-bottom: 1px solid #bababa;
  padding: 0.5em 0;
  line-height: 1;
  transition: border-color 0.2s;
  resize: none;
}

.EnquiryForm--Input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--lightGrey) inset !important;
}

.EnquiryForm--Input:focus {
  outline: none;
  border-color: black;
}

.EnquiryForm--Input[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}

.EnquiryForm--Input::placeholder {
  text-transform: none;
}

.EnquiryForm--SubmitButton {
}
