.NavLink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 400;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
  border-bottom-color: transparent;
}

.NavLink:hover,
.NavLink.active,
.NavLink:focus {
  color: var(--primary);
  border-bottom-color: currentColor;
}
