:root{
  --col1: #FA5463;
  --col2: #212121;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  background: whitesmoke;
}

body {
  font-family: 'Avenir', sans-serif;
  min-height: 100vh;
  position: relative;
  background: white;
  color: var(--col2);
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: 1.6;
  font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


a{
  color: var(--col1);
}
